name: Publish to Production

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  RESOURCE_GROUP_NAME: personal-website
  CONTAINER_NAME: personal-website-backend
  DNS_LABEL: lsantos-api
  MONGOKE_CONFIG_URL: 'https://lsantos.me/site-backend/mongoke.yml?v='

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      - name: Deploy ACI
        run: |
            export MONGOKE_URL=${{ env.MONGOKE_CONFIG_URL }}$(git rev-parse --short "$GITHUB_SHA")
            az container create \
            --resource-group ${{ env.RESOURCE_GROUP_NAME }} \
            --name ${{ env.CONTAINER_NAME }} \
            --image mongoke/mongoke \
            --location brazilsouth \
            --dns-name-label ${{ env.DNS_LABEL }} \
            --ports 80 \
            --environment-variables MONGOKE_CONFIG_URL=$MONGOKE_URL DB_URL=${{ secrets.MONGODB_URI }}
             
             
             
             
